/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --theme-color: black;
  --text-color: white;
  --box-color: aquamarine;
  --image: url("https://www.baltana.com/files/wallpapers-16/Black-Background-Design-High-Definition-Wallpaper-40665.jpg");
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-image: var(--image);
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 2rem 5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: url("https://cdn.pixabay.com/photo/2020/02/06/08/19/band-4823341_1280.jpg");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  text-transform: capitalize;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.login-box {
  background-color: black;
  display: none;
  width: 90%;
  max-width: 400px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  position: fixed;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px white;
}

.login-box h1 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  margin: 2rem 0;
  text-align: center;
}

.register-box {
  background-color: black;
  display: none;
  width: 90%;
  max-width: 400px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  position: fixed;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px white;
}

.register-box h1 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  cursor: default;
  margin: 2rem 0;
  text-align: center;
}

.textbox {
  position: relative;
  margin: 0 0 2rem 0;
  border-radius: 5px;
  color: #fff;
}

.textbox .login_input {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
  text-transform: none;
}

.textbox .login_input::placeholder {
  color: black;
  font-weight: bold;
}

.login_btn {
  width: 100%;
  padding: 1rem;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.register {
  margin-top: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: black;
  border: none;
  display: block;
}

#menu-bars {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.home .content {
  text-align: center;
  padding-top: 8rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: var(--text-color);
  color: var(--theme-color);
  cursor: pointer;
  font-weight: 600;
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 55rem;
  width: 40rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.heading span {
  text-transform: uppercase;
}

.service .box-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.service .box-container .box {
  border-radius: 0.5rem;
  background-color: cadetblue;
  color: black;
  text-align: center;
  padding: 2.5rem;
}

.service .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--theme-color);
  color: var(--text-color);
}

.service .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.service .box-container .box p {
  font-size: 1.4rem;
  color: black;
  line-height: 2;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #333;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  padding: 0rem 1rem;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.about .row .content p {
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  line-height: 2;
  text-align: justify;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(27rem, 1fr));
  gap: 3rem;
}

.gallery .box-container .box {
  position: relative;
  border-radius: 4px;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 1.5rem;
  transition: transform 2s;
}

.gallery .box-container .box img:hover {
  transform: scale(1.1);
}

.price .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.price .box-container .box {
  padding: 4rem 0;
  background: var(--box-color);
  color: var(--theme-color);
  border-radius: 1.5rem;
  text-align: center;
  transition: transform 0.3s;
}

.price .box-container .box:hover {
  transform: scale(1.05);
}

.price .box-container .box .title {
  background: black;
  border: 4px solid var(--text-color);
  border-radius: 4px;
  color: white;
  padding: 1.5rem 0;
  font-size: 2rem;
  margin: 0 1rem;
}

.price .box-container .box .amount {
  color: black;
  padding-top: 2rem;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.price .box-container .box ul {
  list-style-type: none;
  padding: 1rem 0;
}

.price .box-container .box ul li {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  padding: 1rem 0;
}

.price .box-container .box ul li i {
  color: black;
  padding-right: 0.5rem;
}

.user-review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 30px;
  margin: 30px 0;
}

.user-review p {
  margin: 10px 0;
  font-size: 1.5rem;
  line-height: 2;
}

.user-review .user-info {
  background: var(--text-color);
  color: var(--theme-color);
  padding: 3rem;
  text-align: justify;
  border-radius: 4px;
}

.user-review .user-info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.5rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputBox input {
  width: 100%;
}

.contact form textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.footer {
  background-color: rgb(60, 59, 59);
  text-transform: capitalize;
  padding: 3rem 5%;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: white;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: white;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: white;
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: white;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid white;
  color: white;
  padding-top: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

.theme-toggler {
  position: fixed;
  top: 7rem;
  right: -20rem;
  background: #333;
  z-index: 1000;
  width: 20rem;
  height: 20rem;
  text-align: center;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  left: -5.9rem;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.toggle-btn i {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 3rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme-color);
  padding: 2rem;
  border-radius: 15px;
  z-index: 100;
  font-size: 1.8rem;
  background-color: var(--text-color);
  display: none;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.popup button {
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.Event_booking {
  background-color: black;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 95%;
  max-width: 500px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  box-shadow: inset 0px 0px 20px gray;
  border-radius: 1.5rem;
  padding: 20px;
  display: none;
  z-index: 1000;
}

.Event_booking .logo {
  display: block;
  margin: 0 auto 1.5rem;
  height: 70px;
  width: 70px;
}

.name,
.email,
.phonenumber,
.event,
.date,
.payment,
.guest {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 4px;
  padding: 0.8rem;
}

.Event_booking input,
.Event_booking select {
  font-size: 1.5rem;
  width: 100%;
  border: none;
  font-weight: bold;
  background: transparent;
}

.Event_booking input::placeholder {
  color: black;
  text-transform: uppercase;
}

.book {
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  background-color: green;
  border-radius: 4px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.pack_info {
  font-size: 1.8rem !important;
  color: white !important;
  margin: 1rem 0 !important;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }

  .home .content {
    padding-top: 10rem;
  }

  .home .home-slider .swiper-slide {
    height: 35rem;
    width: 25rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.4s linear;
    flex-direction: column;
    padding: 2rem 0;
  }

  .navbar a {
    margin: 1.5rem 2rem;
    font-size: 2rem;
    display: block;
    text-align: center;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .heading {
    font-size: 3rem;
  }

  .about .row .content h3 {
    font-size: 2.2rem;
  }

  .price .box-container {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }

  .user-review {
    grid-template-columns: 1fr;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .footer .box-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    height: 40rem;
    width: 30rem;
  }

  .service .box-container {
    grid-template-columns: 1fr;
  }

  .gallery .box-container {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-template-columns: 1fr;
  }

  .price .box-container {
    grid-template-columns: 1fr;
  }
}
